<% function resolveLink(path, data) { return typeof getLink !== 'function' ? path : getLink(path, data); } %> 
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body class="bg-gray-100 flex flex-col min-h-screen">
    <%- include('partials/navigation') %>

    <div class="flex-grow">
        <main class="container mx-auto p-6">
            <h1 class="text-2xl font-bold mb-4">Welcome!</h1>
            <p class="text-gray-700 mb-4">In this dashboard, you can find the status of all the projects that you
                registered. Every project listed includes additional reports with its own dashboard, tasks, and alerts.
            </p>

            <h2 class="text-2xl font-bold mb-4" data-testid="projects-heading">Projects</h2>
            <p class="mb-4">Click on any project to get more details:</p>
            <ul class="list-disc list-inside mb-6" data-testid="projects-list">
                <% projects.forEach(project=> { %>
                    <li>
                        <a href="<%= resolveLink('', project) %>" class="text-blue-500 underline font-bold">
                            <%= project.name %>
                        </a>
                    </li>
                <% }) %>
            </ul>

            <h2 class="text-2xl font-bold mb-4" data-testid="checklists-heading">Checklists</h2>
            <table class="w-full border border-gray-300 border-collapse mb-6" data-testid="checklists-table">
                <thead>
                    <tr class="bg-gray-200">
                        <th class="border border-gray-300 px-4 py-2 text-left">Documentation</th>
                        <th class="border border-gray-300 px-4 py-2 text-left">Title</th>
                        <th class="border border-gray-300 px-4 py-2 text-left">Description</th>
                        <th class="border border-gray-300 px-4 py-2 text-left">Author</th>
                    </tr>
                </thead>
                <tbody>
                    <% checklists.forEach(item=> { %>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2">
                                <a target="_blank" href="<%= item.url %>" class="text-blue-500 underline font-bold">
                                    <%= item.code_name %>
                                </a>
                            </td>
                            <td class="border border-gray-300 px-4 py-2">
                                <%= item.title %>
                            </td>
                            <td class="border border-gray-300 px-4 py-2">
                                <%= item.description %>
                            </td>
                            <td class="border border-gray-300 px-4 py-2">
                                <%= item.author %>
                            </td>

                        </tr>
                    <% }) %>
                </tbody>
            </table>

            <h2 class="text-2xl font-bold mb-4" data-testid="compliance-checks-heading">Compliance Checks</h2>
            <p class="mb-4" data-testid="compliance-checks-description">Currently <span class="font-bold">
                    <%= checks.filter(i=> i.implementation_status === "completed").length %>/<%= checks.length %>
                </span> are implemented. <a href="https://openpathfinder.com/contribute"
                    class="text-blue-500 underline font-bold">Help us</a> to implement more!</p>

            <table class="w-full border border-gray-300 border-collapse" data-testid="compliance-checks-table">
                <thead>
                    <tr class="bg-gray-200">
                        <th class="border border-gray-300 px-4 py-2 text-left">Documentation</th>
                        <th class="border border-gray-300 px-4 py-2 text-left">Name</th>
                        <th class="border border-gray-300 px-4 py-2 text-left">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <% checks.forEach(item=> { %>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2">
                                <a target="_blank" href="<%= item.details_url %>"
                                    class="text-blue-500 underline font-bold">
                                    <%= item.code_name %>
                                </a>
                            </td>
                            <td class="border border-gray-300 px-4 py-2">
                                <%= item.title %>
                            </td>
                            <td class="border border-gray-300 px-4 py-2">
                                <%= item.description %>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </main>
    </div>
    <div class="mt-auto">
        <%- include('partials/footer') %>
    </div>
</body>

</html>